﻿.main-header
{
             background-color:#fff;
             padding:15px 0;
             border-bottom:1px solid #808080;
}

.main-header .main-nav
{

}

.main-header .main-nav ul
{
    list-style-type:none;
    padding:0;
    margin:0;
}

.main-header .main-nav ul:after
{
    clear:both;
    content:' ';
    overflow:hidden;
    display:block;
}

    .main-header .main-nav ul li
   {
        float:left;
    }

     .main-header .main-nav ul li a
   {
        
        display:block;
        padding:0;
        margin: 0 15px;
        color:#424950;
        font-weight:bold;
        font-family:Arial, Helvetica, sans-serif;
        text-decoration:none;
        
        }

        .main-header .main-nav ul li a:hover
         {
        color:darkgray;
        }

        .main-header .shopping-cart
        {
            position:relative;
            display:inline-block;
            clear:both;
        }

        .main-header .shopping-cart i
        {
            font-size:25px;
        }

        .main-header .shopping-cart .item-count
        {
            position:absolute;
            right:-10px;
            bottom:-10px; 
            background-color:#346ae7;
            color:#fff;
            font-family:Arial, Helvetica, sans-serif;
            font-size:13px;
            border-radius:100%;
            padding:3px 7px;
                    }
        /*urun wrapper*/

     .urun-wrapper
     {

     }
        
           
        .urun-wrapper header{
margin:50px 0;


        }


        .urun-wrapper header h4{
            width:100%;
            margin:0 0 10px 0;
            padding:0;
            text-align:center;
            font-family:Arial, Helvetica, sans-serif;
            font-size:20px;
            font-weight:bold;
            color:#919191;

        }

.urun-wrapper header h5{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin:0;
        padding:0;
        text-align:center;
        color:#919191;
}


.urun-wrapper .urun-item{
   margin-bottom:50px;
    
}
.urun-wrapper .urun-item figure img{
   border-radius:5px;
    
}



.urun-wrapper .urun-item .name{
    padding:10px;
    text-align:center
}

.urun-wrapper .urun-item .name a{
    color:black;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
}

.urun-wrapper .urun-item  .price {
    text-align:center;
    font-size:16px;
    margin:25px;
}

.urun-wrapper .urun-item  .price .new{
   font-size:14px;
   font-weight:bold;
   color:black;
}

.urun-wrapper .urun-item  .price .old{
    color:#919191;
    text-decoration:line-through;
    margin-right:10px;
}

.urun-wrapper  .view-all{
    border-color:#919191;
    background-color:transparent;
}

/*messagebar islemleri*/

.messagebar{
    background:transparent url('https://images8.alphacoders.com/370/370799.jpg') no-repeat center center;
    background-size:100%;
    padding:35px 0;
    margin:30px 0;
 
        }

    .messagebar .title {
    font-size:30px;
    font-weight:bold;
    color:whitesmoke;
    
    }

    .messagebar .btn{
        background-color:transparent;
        border:0px none;
        padding:15px 7px;
        color:whitesmoke;
        font-size:23px;
    }

    /*footer*/
    .main-footer-wrapper{
background-color:lightsteelblue;
color:white;
    }

    .main-footer-wrapper ul{
        width:100%;
        list-style-type:none;
        margin:0;
        padding:0;
        text-align:center;
    }

     .main-footer-wrapper ul li{
    display:inline-block;
         margin:0;
        padding:0;
    }

       .main-footer-wrapper ul li a{
   display:block;
   padding:10px;
   color:#fff;
   font-size:14px;
    }
       .main-footer-wrapper ul.social a{
           font-size:18px;
       }