﻿<div class="urun-wrapper">
    <div class="container">
        <header>
            <h4>Sizin İçin Seçtiklerimiz</h4>
        </header>
        <div class="row">
            <div class="col-lg-3">
                <div class="urun-item">
                    <figure>
                        <img src="http://placehold.it/270x350" class="img-responsive" />
                    </figure>
                    <section class="name">
                        <a href="#">Merhaba</a>
                    </section>
                    <section class="price">
                        <span class="old">150 TL</span>
                        <span class="new">100 TL</span>
                    </section>
                </div>

            </div>
            <div class="col-lg-3">
                <div class="urun-item">
                    <figure>
                        <img src="http://placehold.it/270x350" class="img-responsive" />
                    </figure>
                    <section class="name">
                        <a href="#">Merhaba</a>
                    </section>
                    <section class="price">
                        <span class="old">150 TL</span>
                        <span class="new">100 TL</span>
                    </section>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="urun-item">
                    <figure>
                        <img src="http://placehold.it/270x350" class="img-responsive" />
                    </figure>
                    <section class="name">
                        <a href="#">Merhaba</a>
                    </section>
                    <section class="price">
                        <span class="old">150 TL</span>
                        <span class="new">100 TL</span>
                    </section>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="urun-item">
                    <figure>
                        <img src="http://placehold.it/270x350" class="img-responsive" />
                    </figure>
                    <section class="name">
                        <a href="#">Merhaba</a>
                    </section>
                    <section class="price">
                        <span class="old">150 TL</span>
                        <span class="new">100 TL</span>
                    </section>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="center-block text-center">
                    <a class="btn btn-default view-all" href="#">Daha Fazla Ürün</a>
                </div>
            </div>


        </div>

    </div>

</div>

