﻿<footer class="main-footer-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 center-block text-center">
                <ul>
                    <li><a href="#">Bize Ulaşın</a></li>
                    <li><a href="#"> Hesabım</a></li>
                    <li><a href="#">Gizlilik</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <ul class="social">
                    <li><a href="#"><i class="fa fa-fw fa-facebook"></i></a></li>
                    <li><a href="#"> <i class="fa fa-fw fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa fa-fw fa-twitter"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                Copyright © @DateTime.Now.Year
            </div>
        </div>

    </div>
</footer>

