﻿<header class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <img src="~/images/logo.jpeg" class="logo" />
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                <nav class="main-nav">
                    <ul>
                        <li><a href="#">Oturma Grubu</a></li>
                        <li><a href="#">Yatak Odası</a></li>
                        <li><a href="#">Bebek ve Genç Odası</a></li>
                        <li><a href="#">Aksesuar</a></li>


                    </ul>
                </nav>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                <div class="shopping-cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="item-count">5</span>
                </div>
            </div>
        </div>
    </div>
</header>

