﻿
<div class="carousel slide" data-ride="carousel" id="main-carousel">
    <ol class="carousel-indicators">
        <li data-target="#main-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="1" class="active"></li>
        <li data-target="#main-carousel" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active"><img src="http://placehold.it/1920x500" /></div>
        <div class="item "><img src="http://placehold.it/1920x500" /></div>
        <div class="item "><img src="http://placehold.it/1920x500" /></div>



    </div>
    @*slider sağ sol simgesi*@
    <a class="left carousel-control" href="#main-carousel" role="button" data-slide="prev">
        @*<span class="fa fa-arrow-left"></span>*@
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#main-carousel" role="button" data-slide="next">
        @*<span class="fa fa-arrow-right"></span>*@
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

