﻿<div class="messagebar">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <span class="title">Ürünlerimizi ♥ Keşfedin</span>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-default">
                    Hemen Alışverişe Başlayın<i class="fa fa-arrow-circle-o-right"></i>
                </button>
            </div>
        </div>
    </div>
</div>

